html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

body {
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.btn-submit {
  display: inline-block;
  background: #fff;
  color: #333;
  padding: 15px 30px;
  max-width: 200px;
  width: 100%;
  font-size: 1.5rem;
  outline: none;
  border: none;
  position: relative;
  cursor: pointer;
  appearance: none;
  transition: all 0.3s ease-in-out;
  &:before,
  &:after {
    content: "";
    position: absolute;
    border: 2px solid transparent;
    width: 0;
    height: 0;
  }
  &:before {
    top: 0;
    left: 0;
    transition: border-color 0s ease-out 1s, width 0.25s ease-out 0.75s,
      height 0.25s ease-out 0.5s;
  }
  &:after {
    bottom: 0;
    right: 0;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.25s,
      height 0.25s ease-out 0s;
  }
  &:hover {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
    &:before,
    &:after {
      width: 100%;
      height: 100%;
    }
    &:before {
      border-top-color: red;
      border-right-color: red;
      transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
    }
    &:after {
      border-bottom-color: blue;
      border-left-color: blue;
      transition: border 0.25s ease-out 0.5s, width 0.25s ease-out 0.5s,
        height 0.25s ease-out 0.75s;
    }
  }
}
